/* Inter Font CDN Embed */
@import url('https://fonts.cdnfonts.com/css/inter?styles=169530,29139,29134,29142,29143,29132,29133,29135,29136,29137,29138,29140,29141,29128,29129,29130,29131,29126,29127');
/* Miama Font CDN Embed */
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364,627');

/* Universal Styles Start */
:root {
    --primary-color: #E6533C;
    --white-color: #FFFFFF;
    --white-10: #FFFFFF1A;
    --white-50: #FFFFFF80;
    --white-60: #FFFFFF99;
    --black-color: #000000;
    --bg-dark: #222222;
    --heading: 4.875rem;
    --title: 3rem;
    --sub-title: 1.75rem;
    --description: 0.875rem;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Miama', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    background-color: var(--black-color);
}

.container {
    width: 90%;
    max-width: 90rem;
    margin-inline: auto;
}

.banner-heading {
    color: var(--white-color);
    font-size: var(--heading);
    font-weight: 900;
}

.title {
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 900;
}

.description {
    color: var(--white-50);
    font-size: var(--description);
}

a {
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem 2.5rem;
    border-radius: 2.625rem;
    font-size: 1.125rem;
    font-weight: 600;
}

/* Universal Styles End */

/* Navbar Styles Start */

header {
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.125rem;
}

nav h2 {
    color: var(--primary-color);
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav ul a {
    color: var(--white-color);
}

nav ul li.btn-primary{ 
    padding: 0.5rem 1.5rem;
}

nav i.fa-bars {
    display: none;
}

/* Navbar Styles End */