/* Inter Font CDN Embed */
@import url('https://fonts.cdnfonts.com/css/inter?styles=169530,29139,29134,29142,29143,29132,29133,29135,29136,29137,29138,29140,29141,29128,29129,29130,29131,29126,29127');
/* Miama Font CDN Embed */
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364,627');

/* Universal Styles Start */
:root {
    --primary-color: #E6533C;
    --white-color: #FFFFFF;
    --white-10: #FFFFFF1A;
    --white-50: #FFFFFF80;
    --white-60: #FFFFFF99;
    --black-color: #000000;
    --bg-dark: #222222;
    --bg-dark2: #444444;
    --heading: 4.875rem;
    --title: 3rem;
    --sub-title: 1.75rem;
    --description: 0.875rem;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Miama', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    background-color: var(--black-color);
    color: var(--white-color);
}

.container {
    width: 90%;
    max-width: 90rem;
    margin-inline: auto;
}

.banner-heading {
    color: var(--white-color);
    font-size: var(--heading);
    font-weight: 900;
    line-height: 5.85rem;
}

.title {
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.description {
    color: var(--white-50);
    font-size: var(--description);
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    margin-block: 1.75rem;
    max-width: 42rem;
}

section {
    margin-block: 100px;
}

a {
    text-decoration: none;
    transition: 0.3s;
    font-weight: 500;
}

a:hover {
    color: var(--primary-color) !important;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem 2.5rem;
    border-radius: 2.625rem;
    font-size: 1.125rem;
    font-weight: 600;
    border: 1px solid transparent;
    cursor: pointer;
}

/* Universal Styles End */

/* Navbar Styles Start */
header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(48, 48, 48, 1) 90%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.125rem;
}

nav h2 {
    color: var(--primary-color);
    font-size: 3.25rem;
    font-style: italic;
    font-weight: 800;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    border: 1px solid var(--white-10);
    padding: 0.4rem 0.8rem;
    border-radius: 50px;
}

nav ul a {
    color: var(--white-color);
}

nav ul li:first-child a:hover {
    color: var(--white-color) !important;
} 

nav ul li.btn-primary {
    padding: 0.3rem 1.1rem;
}

nav i.fa-bars {
    display: none;
}

/* Navbar Styles End */

/* Banner Section Styles Start */
#banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 32.5rem;
}

.banner-content span {
    font-family: var(--font-secondary);
    font-weight: normal;
    font-size: 11rem;
}

.banner-content button:nth-child(4) {
    background-color: transparent;
    border: 1px solid var(--white-color);
    margin-left: 0.88rem;
}

.banner-img .image-container {
    position: relative;
}

.banner-img .image-container img {
    vertical-align: middle;
    max-width: 100%;
}

.banner-img .badge {
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    background-color: #FFFFFF1A;
    border: 1px solid #FFFFFF1A;
    border-radius: 0.75rem;
    backdrop-filter: blur(10px) !important;
    max-width: 13.6rem;
}

.banner-img .badge span {
    display: block;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.banner-img .badge1 {
    position: absolute;
    top: 26%;
    right: -11%;
}

.banner-img .badge2 {
    display: flex;
    gap: 1rem;
    max-width: 16rem;
    align-items: center;
    position: absolute;
    bottom: 8%;
    left: -30%;
}

.banner-img .badge2 span {
    letter-spacing: 0.1rem;
}

.banner-img .badge2 .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Banner Section Styles End */

/* Transform Section Styles Start */
#transform-section .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.25rem;
    margin-top: 3.62rem;
}

#transform-section p {
    margin-inline: auto;
}

.cards-container .card {
    text-align: center;
    border: 1px solid var(--white-50);
    border-radius: 0.5rem;
    padding: 1.25rem;
}

.cards-container .card img {
    border-radius: 50%;
    margin-bottom: 1.88rem;
}

.cards-container .card .card-content h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.38rem;
}

.cards-container .card .card-content p {
    color: var(--white-50);
    font-size: 0.875rem;
}

/* Transform Section Styles End */

/* Extra Mile Section Styles Start */
#extra-mile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-dark);
    border-radius: 1.125rem;
    padding: 1.75rem 2rem;
    gap: 3.25rem;
}

#extra-mile .extra-mile-content {
    width: 50%;
}

#extra-mile .extra-mile-content .title,
#extra-mile .extra-mile-content .description {
    text-align: left;
}

#extra-mile .extra-mile-content button {
    width: 14rem;
    font-size: 1.25rem;
}

#extra-mile .extra-mile-img {
    overflow: hidden;
    width: 50%;
    border-radius: 1rem;
}

#extra-mile .extra-mile-img img {
    border-radius: 0.5rem;
    width: 100%;
    vertical-align: middle;
    transform: scale(2);
    transform-origin: 70% 25%;
}

/* Extra Mile Section Styles End */

/* BMI Calculator section Styles Start */
#bmi-calculator-section p {
    margin-inline: auto;
}

#bmi-calculator-section .bmi-section {
    background-color: var(--bg-dark);
}

#bmi-calculator-section .bmi-section h3 {
    font-size: var(--sub-title);
}

#bmi-calculator-section .bmi-section .bmi-calculator-wrapper {
    padding: 3.25rem 0;
    display: flex;
    justify-content: space-between;
    gap: 3.25rem;
}

.bmi-section .bmi-chart :where(table, tr, th, td) {
    border: 1px solid var(--white-50);
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: left;
    margin-top: 3.25rem;
    width: 100%;
}

.bmi-section .bmi-chart table td {
    color: var(--white-50);
}

.bmi-calculator-wrapper .bmi-calculator form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}


.bmi-calculator-wrapper .bmi-calculator form :where(input, select) {
    padding: 0.8rem;
    background-color: var(--bg-dark2);
    border: none;
    border-radius: 0.5rem;
    color: var(--white-60);
    width: 100%;
    outline: none;
}

.bmi-calculator-wrapper .bmi-calculator form input::placeholder {
    color: var(--white-60);
}

.bmi-calculator-wrapper .bmi-calculator form input:focus {
    border: none;
    outline: none;
    color: var(--white-60);
}

.bmi-calculator-wrapper .bmi-calculator form input::-webkit-outer-spin-button,
.bmi-calculator-wrapper .bmi-calculator form input::-webkit-inner-spin-button {
    appearance: none;
}

.bmi-calculator-wrapper .bmi-calculator form input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.bmi-calculator-wrapper .bmi-calculator form select {
    border-right: 1rem solid transparent;
}

.bmi-calculator-wrapper .bmi-calculator form select:nth-child(5) {
    grid-column: 1 / -1;
}

.bmi-calculator-wrapper .bmi-calculator form select::selection {
    border: none;
    outline: none;
    background-color: var(--white-10);
    color: var(--white-60);
}

.bmi-calculator-wrapper .bmi-calculator form button {
    place-self: start;
}

/* BMI Calculator section Styles End */

/* Trainer Section Styles Start */
#trainer p {
    margin-inline: auto;
}

#trainer .trainer-container {
    background-color: var(--bg-dark);
    padding: 2.25rem;
    border-radius: 1.125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.25rem;
}

#trainer .trainer-container .trainer-card .img-wrapper {
    position: relative;
    height: 100%;
}

#trainer .trainer-container .trainer-card .img-wrapper h3 {
    font-size: 1.25rem;
    font-weight: 900;
}

#trainer .trainer-container .trainer-card .img-wrapper p {
    font-size: 0.875rem;
    color: var(--white-60);
}

#trainer .trainer-container .trainer-card .img-wrapper div {
    position: absolute;
    bottom: 5%;
    left: 7%;
}

#trainer .trainer-container .trainer-card .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    border-radius: 1.5rem;
    filter: brightness(70%);
}

/* Trainer Section Styles End */

/* Plan Section Styles Start */
#plan-section .plan-content p {
    margin-inline: auto;
}

.plan-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.25rem;
    justify-content: space-around;
    margin-top: 3.62rem;
}

.plan-cards-container .card {
    background-color: var(--bg-dark);
    padding: 2rem;
    border-radius: 1.125rem;
    text-align: center;
    display: grid;
    place-content: center;
}
.plan-cards-container .card h3 {
    font-size: 1.875rem;
    color: var(--white-color);
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.plan-cards-container .card p:nth-child(2){
    color: var(--white-50);
    margin-bottom: 1.875rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.plan-cards-container .card p:nth-child(3) {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.25rem;
}

.plan-cards-container .card button {
    place-self: center;
}

.plan-cards-container .card ul {
    list-style: none;
    margin: 1.25rem 0 2.5rem 0;
    color: var(--white-50);
    text-align: left;
    font-size: 1.25rem;
}

.plan-cards-container .card ul li {
    margin-block: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.plan-cards-container .card ul li img{
    vertical-align: middle;
}
/* Plan Section Styles End */

/* Footer Styles Start */
footer {
    background-color: var(--bg-dark);
    padding-block: 4.13rem;
}

footer h2,
footer p {
    text-align: left !important;
}

footer h2 span {
    color: var(--primary-color);
    font-style: italic;
    font-weight: 900;
}

footer .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

footer .footer-container .footer-content {
    max-width: 28rem;
    width: 50%;
}

footer .footer-container .footer-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

footer .footer-container .footer-links h3 {
    font-size: var(--sub-title);
    font-weight: 900;
}

footer .footer-container .footer-links ul {
    margin-top: 2.44rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

footer .footer-container .footer-links ul a {
    color: var(--white-50);
}

footer>p {
    color: var(--white-60);
    text-align: center !important;
    padding-top: 2em;
    border-top: 1px solid var(--white-10);
    margin-top: 5rem;
    font-size: 1.25rem;
}

footer>p span {
    color: var(--primary-color);
    font-weight: 600;
}

/* Footer Styles End */