/* Mobile Device Responsive Styles */
@media screen and (max-width: 576px) {
    html{
        font-size: 10px;
    }

    nav ul {
        display: none;
    }
    nav i.fa-bars {
        display: block !important;
        color: var(--white-color);
        font-size: 1.5rem;
    }
}



/* Tablet Device Responsive Styles */
@media screen and (min-width: 576px) and (max-width: 992px) {
    html{
        font-size: 14px;
    }
}