/* Mobile Device Responsive Styles */
@media screen and (max-width: 576px) {
    section {
        margin-block: 50px;
    }

    html {
        font-size: 10px;
    }

    nav ul {
        display: none;
    }

    nav i.fa-bars {
        display: block !important;
        color: var(--white-color);
        font-size: 1.5rem;
    }


    #banner-section,
    #extra-mile,
    #bmi-calculator-section .bmi-section .bmi-calculator-wrapper,
    footer .footer-container,
    footer .footer-container .footer-links {
        flex-direction: column;
        align-items: start;
    }

    .banner-img .badge1 {
        top: 5%;
        right: -2%;
    }

    .banner-img .badge2 {
        bottom: 15%;
        left: -2%;
    }

    #transform-section .cards-container,
    #trainer .trainer-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #extra-mile .extra-mile-content,
    #extra-mile .extra-mile-img {
        width: 100%;
    }

    .bmi-calculator-wrapper .bmi-calculator form {
        grid-template-columns: repeat(1, 1fr);
    }

    .bmi-calculator-wrapper .bmi-calculator form button {
        place-self: normal;
    }

    footer .footer-container .footer-content {
        width: 100%;
    }

    footer .footer-container .footer-links ul {
        margin-top: 1rem;
    }
}



/* Tablet Device Responsive Styles */
@media screen and (min-width: 576px) and (max-width: 1024px) {
    section {
        margin-block: 80px;
    }

    html {
        font-size: 14px;
    }

    #banner-section,
    #extra-mile,
    #bmi-calculator-section .bmi-section .bmi-calculator-wrapper,
    footer .footer-container {
        flex-direction: column;
        align-items: start;
    }

    #banner-section .banner-content {
        align-self: start;
    }

    #banner-section .banner-img {
        align-self: center;
    }

    .banner-img .badge1 {
        top: 5%;
        right: -2%;
    }

    .banner-img .badge2 {
        bottom: 15%;
        left: -2%;
    }

    #transform-section .cards-container,
    #trainer .trainer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #extra-mile .extra-mile-content,
    #extra-mile .extra-mile-img {
        width: 100%;
    }
    
    footer .footer-container .footer-links {
        justify-content: space-between;
        width: 60%;
    }
}